<!-- <div class="container_form">
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Enter movie title</mat-label>
    <input matInput placeholder="for example matrix"
           [(ngModel)]="titleFilm">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label style="ccolor: white;">Type</mat-label>
    <select matNativeControl required>
      <option value="movie">Movie</option>
      <option value="series">Series</option>
      <option value="episode">Episode</option>
    </select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="addText()">Search films</button>
</div>
 -->
