<div class="container__details">
  <img [src]="filmDescription.Poster" alt="poster">
  <div class="inner__details">
    <div class="inner_item">
      <p>Title:</p><p>{{filmDescription.Title}}</p>
    </div>
    <div class="inner_item">
      <p>Released:</p><p>{{filmDescription.Released}}</p>
    </div>
    <div class="inner_item">
      <p>Genre:</p><p>{{filmDescription.Genre}}</p>
    </div>
    <div class="inner_item">
      <p>Coutry:</p><p>{{filmDescription.Country}}</p>
    </div>
    <div class="inner_item">
      <p>Director:</p><p>{{filmDescription.Director}}</p>
    </div>
    <div class="inner_item">
      <p>Writer:</p><p>{{filmDescription.Writer}}</p>
    </div>
    <div class="inner_item">
      <p>Actors:</p><p>{{filmDescription.Actors}}</p>
    </div>
    <div class="inner_item">
      <p>Awards:</p><p>{{filmDescription.Awards}}</p>
    </div>
  </div>
</div>
